*{
    width: 1100px;
    margin: 5px;
}


#navbar {
    width: 900px;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}

#navbar a {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 5px;
}

#container {
    width: 970px;
    display: inline-block;
}

#container h1, #container h2, #container p, #container h3{
    text-align: center;
    margin: 2px;
    padding: 5px;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 400px;
}

.project{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.project img{
    margin-left: 70px;
    width: 100px;
    height: 100px;
}

.project h4, .project p{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

span{
    font-weight: bold;
}

form input, form textarea{
    width: 600px;
}

#button{
    width: 200px;
}