<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
    <div id="navbar">
        <a href="/home">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div id="container">
        <form action="/submit">
            First Name: <input type="text" name="firstName" placeholder="First Name"><br><br>
            Last Name: <input type="text" name="lastName" placeholder="Last Name"><br><br>
            Email: <input type="email" name="email" placeholder="Email address"><br><br>
            Message: <br><textarea name="message" cols="30" rows="10" placeholder="Add a message"></textarea><br><br>
            <input id="button" type="submit" value="Send Wes a message!">
        </form>
    </div>
    </body>
</html>
